<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="ĐỒNG Ý" rejectLabel="HỦY">
</p-confirmDialog>
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<p-toast position="bottom-right"></p-toast>

<div class="emp-create">
  <div class="row no-margin">
    <form [formGroup]="createEmpForm" style="height: 100%;">
      <div class="col-md-12">
        <div class="row emp-create-content">
          <div class="row no-margin button-group" [ngClass]="{'fixed' : fixed}">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/icons/components/create_lead.svg" class="header-icon">
                  <div class="header">Tạo nhân viên</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 header-botton">
              <div class="row" style="display: flex; justify-content: flex-end; margin-right: 0px;">
                <div style="padding-right: 10px;">
                  <span *ngIf="!isInvalidForm">
                    <img src="/assets/icons/components/ios-warning.svg" class="ios-warning">
                  </span>
                  <div class="box-waring" *ngIf="isInvalidForm" #toggleButton (click)="toggleNotifiError()">
                    <img src="/assets/icons/components/ios-warning-active.svg" class="ios-warning-active">
                  </div>
                  <div class="notification" #notifi *ngIf="isOpenNotifiError">
                    <div *ngIf="(formfirstName.invalid && (formfirstName.dirty || formfirstName.touched))"
                      class="notifi-row" (click)="scroll(boxFirstName)">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span *ngIf="formfirstName.hasError('required')" class="notifi-text">Chưa điền họ tên đệm nhân
                        viên</span>
                      <span *ngIf="formfirstName?.errors?.maxlength" class="notifi-text">Họ tên đệm tối đa 250 ký
                        tự</span>
                      <span *ngIf="formfirstName?.errors?.forbiddenSpaceText" class="notifi-text">Họ tên đệm không được để
                        trắng</span>
                    </div>
  
                    <div *ngIf="(formlastName.invalid && (formlastName.dirty || formlastName.touched))" class="notifi-row"
                      (click)="scroll(boxLastName)">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span *ngIf="formlastName.hasError('required')" class="notifi-text">Chưa điền tên nhân
                        viên</span>
                      <span *ngIf="formlastName?.errors?.maxlength" class="notifi-text">Tên nhân viên tối đa 250 ký
                        tự</span>
                      <span *ngIf="formlastName?.errors?.forbiddenSpaceText" class="notifi-text">Tên nhân viên không được
                        để
                        trắng</span>
                    </div>
  
                    <div *ngIf="(formIdentityId.invalid && (formIdentityId.dirty || formIdentityId.touched))"
                      class="notifi-row" (click)="scroll(boxCodeEmployee)">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span *ngIf="formIdentityId.hasError('required')" class="notifi-text">Chưa điền mã nhân
                        viên</span>
                      <span *ngIf="formIdentityId?.errors?.maxlength" class="notifi-text">Mã nhân viên tối đa 250 ký
                        tự</span>
                      <span *ngIf="formIdentityId?.errors?.forbiddenSpaceText" class="notifi-text">Mã nhân viên không được
                        để
                        trắng</span>
                    </div>
  
                    <div *ngIf="(formOrganizationId.invalid && (formOrganizationId.dirty || formOrganizationId.touched))"
                      class="notifi-row" (click)="scroll(boxOrganization)">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span *ngIf="formOrganizationId.hasError('required')" class="notifi-text">Chưa chọn phòng ban</span>
                    </div>
  
                    <div *ngIf="(formEmail.invalid && (formEmail.dirty || formEmail.touched))" class="notifi-row"
                      (click)="scroll(boxEmail)">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span *ngIf="formEmail.hasError('required')" class="notifi-text">Chưa nhập email</span>
                      <span *ngIf="formEmail.hasError('pattern')" class="notifi-text">Sai định dạng email</span>
                    </div>
  
                    <div *ngIf="(formPhone.invalid && (formPhone.dirty || formPhone.touched))" class="notifi-row"
                      (click)="scroll(boxPhone)">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span *ngIf="formPhone.hasError('pattern')" class="notifi-text">Sai định dạng số điện thoại</span>
                    </div>
  
                    <div *ngIf="(formUserName.invalid && (formUserName.dirty || formUserName.touched))" class="notifi-row"
                      (click)="scroll(boxUserName)">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span *ngIf="formUserName.hasError('required')" class="notifi-text">Chưa nhập tên tài
                        khoản</span>
                      <span *ngIf="formUserName?.errors?.maxlength" class="notifi-text">Tên tài khoản tối đa 250
                        ký tự</span>
                      <span *ngIf="formUserName?.errors?.forbiddenSpaceText" class="notifi-text">Tên tài khoản không
                        được
                        để trắng</span>
                      <span *ngIf="formUserName.hasError('duplicateCode')" class="notifi-text">Tên tài khoản đã tồn
                        tại</span>
                    </div>
                  </div>
                </div>
                <div style="float: right;">
                  <button class="btn-cancel" type="button" (click)="cancel()"><span
                      class="text-cancel">Hủy</span></button>
                  <button #saveAndCreate class="btn-create-add" *ngIf="actionAdd" (click)="createEmployee(true)"
                    [disabled]="awaitResult"><span class="text-save-and-new">Lưu và Thêm mới</span></button>
                  <button #save class="btn-create" *ngIf="actionAdd" type="button" (click)="createEmployee(false)"
                    [disabled]="awaitResult"><span class="text-save">Lưu</span></button>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>
          </div>
          <div class="row no-margin" style="background: #ffffff; padding : 15px 0px;">
            <div class="col-md-6 no-padding border-right-color">
              <div class="row no-margin">
                
                <div class="col-md-6">
                  <div class="row no-margin">
                    <div class="col-md-12 no-padding">
                      <label>Họ và tên đệm<span class="require">*</span></label>
                    </div>
                    <div #boxFirstName class="col-md-12 no-padding">
                      <input type="text" class="w100" pInputText formControlName="formfirstName"
                        [ngClass]="(formfirstName.invalid  && (formfirstName.dirty ||  formfirstName.touched)) ? 'error-border': ''">
                    </div>
                    <div class="col-md-12 no-padding" [hidden]="formfirstName.valid || formfirstName.untouched">
                      <span *ngIf="formfirstName.hasError('required')" class="error-message-span">Chưa điền họ tên đệm
                        nhân viên</span>
                      <span *ngIf="formfirstName?.errors?.maxlength" class="error-message-span">Họ tên đệm nhân viên tối
                        đa 250
                        ký tự</span>
                      <span *ngIf="formfirstName?.errors?.forbiddenSpaceText" class="error-message-span">Họ tên đệm nhân
                        viên không được
                        để trắng</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row no-margin">
                    <div class="col-md-12 no-padding">
                      <label>Tên<span class="require">*</span></label>
                    </div>
                    <div #boxLastName class="col-md-12 no-padding">
                      <input type="text" class="w100" pInputText formControlName="formlastName"
                        [ngClass]="(formlastName.invalid  && (formlastName.dirty ||  formlastName.touched)) ? 'error-border': ''">
                    </div>
                    <div class="col-md-12 no-padding" [hidden]="formlastName.valid || formlastName.untouched">
                      <span *ngIf="formlastName.hasError('required')" class="error-message-span">Chưa điền tên nhân
                        viên</span>
                      <span *ngIf="formlastName?.errors?.maxlength" class="error-message-span">Tên nhân viên tối đa 250
                        ký tự</span>
                      <span *ngIf="formlastName?.errors?.forbiddenSpaceText" class="error-message-span">Tên nhân viên
                        không được
                        để trắng</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mt-10">
                  <div class="row no-margin">
                    <div class="col-md-12 no-padding">
                      <label>Mã nhân viên<span class="require">*</span></label>
                    </div>
                    <div #boxCodeEmployee class="col-md-12 no-padding">
                      <input type="text" class="w100" pInputText formControlName="formIdentityId"
                        [ngClass]="(formIdentityId.invalid  && (formIdentityId.dirty ||  formIdentityId.touched)) ? 'error-border': ''">
                    </div>
                  </div>
                  <div class="col-md-12 no-padding" [hidden]="formIdentityId.valid || formIdentityId.untouched">
                    <span *ngIf="formIdentityId.hasError('required')" class="error-message-span">Chưa điền mã nhân
                      viên</span>
                    <span *ngIf="formIdentityId?.errors?.forbiddenSpaceText" class="error-message-span">Mã nhân viên
                      không
                      được để trắng</span>
                  </div>
                </div>

                <div class="col-md-6 mt-10">
                  <div class="row no-margin">
                    <div #boxGender class="col-md-12 no-padding">
                      <label>Giới tính<span class="require">*</span></label>
                    </div>
                    <div class="col-md-12 no-padding">
                      <p-dropdown [options]="genders" formControlName="formGender" optionLabel="viewValue"
                        [style]="{'width': '100%'}"
                        [ngClass]="(formGender.invalid  && (formGender.dirty ||  formGender.touched)) ? 'error-border': ''">
                      </p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mt-10">
                  <div class="row no-margin">
                    <div class="col-md-12 no-padding">
                      <label>
                        Chọn đơn vị
                        <span class="require">*</span>
                        <a href="javascript:(0)" (click)="openOrgPopup()"> <u>(Xem sơ đồ tổ chức)</u></a>
                      </label>
                    </div>
                    <div #boxOrganization class="col-md-12 no-padding">
                      <input class="w100" type="text" formControlName="formOrganizationId" pInputText readonly
                        [style]="{'width': '100%'}"
                        [ngClass]="(formOrganizationId.invalid  && (formOrganizationId.dirty ||  formOrganizationId.touched)) ? 'error-border': ''">
                    </div>
                  </div>
                  <div class="col-md-12 no-padding" [hidden]="formOrganizationId.valid || formOrganizationId.untouched">
                    <span *ngIf="formOrganizationId.hasError('required')" class="error-message-span">Chưa chọn phòng
                      ban</span>
                  </div>
                </div>

                <div class="col-md-12 mt-10">
                  <div class="row no-margin">
                    <div class="col-md-12 no-padding">
                      <label>
                        Chức vụ</label>
                    </div>
                    <div class="col-md-12 no-padding">
                      <p-dropdown [options]="roles" formControlName="formPositionId" optionLabel="positionName"
                        [style]="{'width': '100%'}"></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mt-10">
                  <div class="row no-margin">
                    <div class="col-md-12 no-padding">
                      <label>
                        Email
                        <span class="require">*</span>
                      </label>
                    </div>
                    <div #boxEmail class="col-md-12 no-padding">
                      <input class="w100" type="text" formControlName="formEmail" pInputText [style]="{'width': '100%'}"
                        [ngClass]="(formEmail.invalid  && (formEmail.dirty ||  formEmail.touched)) ? 'error-border': ''">
                    </div>
                  </div>
                  <div class="col-md-12 no-padding" [hidden]="formEmail.valid || formEmail.untouched">
                    <span *ngIf="formEmail.hasError('required')" class="error-message-span">Chưa nhập email</span>
                    <span *ngIf="formEmail.hasError('pattern')" class="error-message-span">Sai định dạng email</span>
                  </div>
                </div>

                <div class="col-md-12 mt-10 bt-10">
                  <div class="row no-margin">
                    <div class="col-md-12 no-padding">
                      <label>
                        Số điện thoại</label>
                    </div>
                    <div #boxPhone class="col-md-12 no-padding">
                      <input class="w100" type="text" formControlName="formPhone" pInputText
                        [style]="{'width': '100%'}">
                    </div>
                  </div>
                  <div class="col-md-12 no-padding" [hidden]="formPhone.valid || formPhone.untouched">
                    <span *ngIf="formPhone.hasError('pattern')" class="error-message-span">Sai
                      định dạng số điện thoại</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 no-padding">
              <div class="col-md-12 mt-10">
                <div class="row no-margin">
                  <div class="col-md-12 no-padding">
                    <label>
                      Tên tài khoản
                      <span class="require">*</span>
                    </label>
                  </div>
                  <div #boxUserName class="col-md-12 no-padding">
                    <input class="w100" type="text" formControlName="formUserName" pInputText
                      [style]="{'width': '100%'}"
                      [ngClass]="(formUserName.invalid  && (formUserName.dirty ||  formUserName.touched)) ? 'error-border': ''">
                  </div>
                </div>
                <div class="col-md-12 no-padding" [hidden]="formUserName.valid || formUserName.untouched">
                  <span *ngIf="formUserName.hasError('required')" class="error-message-span">Chưa nhập tên tài
                    khoản</span>
                  <span *ngIf="formUserName?.errors?.maxlength" class="error-message-span">Tên tài khoản tối đa 250
                    ký tự</span>
                  <span *ngIf="formUserName?.errors?.forbiddenSpaceText" class="error-message-span">Tên tài khoản không
                    được
                    để trắng</span>
                  <span *ngIf="formUserName.hasError('duplicateCode')" class="error-message-span">Tên tài khoản đã tồn
                    tại</span>
                </div>
              </div>

              <div class="col-md-12 mt-10">
                <div class="row no-margin">
                  <div class="col-md-12 no-padding" style="color: cornflowerblue;">
                    <label>Người dùng có được phép truy nhập vào hệ thống hay không?</label>
                  </div>
                  <div class="col-md-12 buffer-bottom-label" style="padding-top: 3px;">
                    <div class="col-md-4" style="padding-left: 25px;">
                      <p-radioButton id="formIsAccess" name="formIsAccess" formControlName="formIsAccess" value="true"
                        label="Có">
                      </p-radioButton>
                    </div>
                    <div class="col-md-4" style="padding-left: 35px;">
                      <p-radioButton id="formIsAccess" name="formIsAccess" formControlName="formIsAccess" value="false"
                        label="Không">
                      </p-radioButton>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <form style="font-family: 'Open Sans', sans-serif;" [formGroup]="createEmpForm" *ngIf="createEmpForm">
  <div class="emp-create-content">
    <div class="row">
      <div class="col-md-6">
        <span style="font-size: 24px">{{ 'employee.create.title' | translate }}</span>
      </div>
      <div class="col-md-6 main-button-row">
        <button type="button" color="basic" mat-raised-button (click)="goBack()" tabindex="0">{{ 'employee.create.buttons.cancel' | translate }}</button>
        <button type="button" color="basic" *ngIf="actionAdd" mat-raised-button (click)="createEmployee(true)" [disabled]="awaitResult">{{ 'employee.create.buttons.create_add' | translate }}</button>
        <button type="button" color="primary" *ngIf="actionAdd" mat-raised-button (click)="createEmployee(false)" [disabled]="awaitResult">{{ 'employee.create.buttons.create' | translate }}</button>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-6" style="border-right: solid 1px black">
        <div class="row">
          <div class="col-md-12 control-label">
            <label>{{ 'employee.create.fullname' | translate }}<span class="required">*</span></label>
          </div>
          <div class="form-group col-md-2 control-input" style="padding-right: 0">
            <mat-form-field class="w100">
            <mat-select id="formGender"
                    name="formGender"
                    formControlName="formGender"
                    [(ngModel)]="contactModel.Gender">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">{{ gender.viewValue }}</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 control-input">
            <mat-form-field class="w100">
            <input matInput type="text"
                   id="formfirstName"
                   class=" "
                   name="formfirstName"
                   formControlName="formfirstName"
                   placeholder="{{ 'employee.create.placeholder.fullname' | translate }}"
                   [(ngModel)]="contactModel.FirstName"
                   maxlength="255"
                   required>
            </mat-form-field>
            <div class="md-errors-spacer" [hidden]="formfirstName.valid || formfirstName.untouched">
              <mat-error *ngIf="formfirstName.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
            </div>
          </div>
          <div class="form-group col-md-4 control-input" >
              <mat-form-field class="w100">
            <input matInput type="text"
                   id="formlastName"
                   class=" "
                   name="formlastName"
                   formControlName="formlastName"
                   placeholder="{{ 'employee.create.placeholder.name' | translate }}"
                   [(ngModel)]="contactModel.LastName"
                   maxlength="255"
                   required>
            </mat-form-field>
            <div class="md-errors-spacer" [hidden]="formlastName.valid || formlastName.untouched">
              <mat-error *ngIf="formlastName.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 control-label">
            <label>{{ 'employee.create.code' | translate }}<span class="required">*</span></label>
          </div>
          <div class="form-group col-md-12 control-input">
              <mat-form-field class="w100">
            <input matInput type="text"
                   id="formIdentityId"
                   class=" "
                   name="formIdentityId"
                   formControlName="formIdentityId"
                   [(ngModel)]="employeeModel.EmployeeCode"
                   maxlength="255" required>
                   </mat-form-field>
            <div class="md-errors-spacer" [hidden]="formIdentityId.valid || formIdentityId.untouched">
              <mat-error *ngIf="formIdentityId?.errors?.checkDuplicateIdentity">Đã tồn tại mã nhân viên này.</mat-error>
              
              <mat-error *ngIf="formIdentityId.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
              
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12 control-label">
                <a role="button" (click)="openOrgDialog()">Chọn đơn vị &gt;&gt;</a><span class="required">*</span>
              </div>
          <div class="form-group col-md-12 control-input">

            <mat-form-field class="w100">
            <input type="text" matInput
                   id="formOrganizationId"
                   class=" "
                   name="formOrganizationId"
                   formControlName="formOrganizationId"
                   [(ngModel)]="orgNameDisplay"
                   readonly required>
                   </mat-form-field>
            <div class="md-errors-spacer" [hidden]="formOrganizationId.valid || formOrganizationId.untouched">
                <mat-error *ngIf="formOrganizationId.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
            </div>
                   
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 control-label">
            <label>{{ 'employee.create.role' | translate }}</label>
          </div>
          <div class="form-group col-md-12 control-input">
              <mat-form-field class="w100">
            <mat-select id="formPositionId"
                    class=" "
                    name="formPositionId"
                    formControlName="formPositionId"
                    [(ngModel)]="employeeModel.PositionId">
              <mat-option value="">--Trống--</mat-option>
              <mat-option *ngFor="let role of roles" [value]="role.positionId">{{ role.positionName }}</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 control-label">
            <label>{{ 'employee.create.email' | translate }}<span class="required">*</span></label>
          </div>
          <div class="form-group col-md-12 control-input">
              <mat-form-field class="w100">
            <input type="text"
                   id="formEmail"
                   class=" "
                   name="formEmail"
                   formControlName="formEmail"
                   [(ngModel)]="contactModel.Email"
                   maxlength="255"
                   matInput required>
                   </mat-form-field>
            <div class="md-errors-spacer" [hidden]="formEmail.valid || formEmail.untouched">
              <mat-error *ngIf="formEmail.hasError('pattern')">{{ 'lead.messages.wrong_email' | translate }}</mat-error>
             
              <mat-error *ngIf="formEmail.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
            
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 control-label">
            <label>{{ 'employee.create.phone' | translate }}</label>
          </div>
          <div class="form-group col-md-12 control-input">
              <mat-form-field class="w100">
            <input type="text"
                   id="formPhone"
                   class=" "
                   name="formPhone"
                   formControlName="formPhone"
                    matInput
                   [(ngModel)]="contactModel.Phone"
                   maxlength="255">
                   </mat-form-field>
            <div class="md-errors-spacer" [hidden]="formPhone.valid || formPhone.untouched">
              <mat-error *ngIf="formPhone.hasError('pattern')">{{ 'lead.messages.wrong_phone' | translate }}</mat-error>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 control-label">
            <label>{{ 'employee.create.username' | translate }}<span class="required">*</span></label>
          </div>
          <div class="form-group col-md-12 control-input">
              <mat-form-field class="w100">
            <input
                  matInput type="text"
                   id="formUserName"
                   formControlName="formUserName"
                   class=" "
                   name="formUserName"
                   [(ngModel)]="userModel.UserName"
                   maxlength="255">
                   </mat-form-field>
            <div class="md-errors-spacer" [hidden]="formUserName.valid || formUserName.untouched">
              <mat-error *ngIf="formUserName?.errors?.checkDuplicateUsername">Đã tồn tại tên tài khoản này.</mat-error>
              
              <mat-error *ngIf="formUserName.hasError('required')">{{ 'lead.messages.required_field' | translate }}</mat-error>
              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 control-label is-access" style="margin-bottom: 20px">
            <label>{{ 'employee.create.is_access' | translate }}</label>
          </div>
          <div class="form-group col-md-12 control-input">
            <mat-radio-group id="formIsAccess" name="formIsAccess" formControlName="formIsAccess" [(ngModel)]="isAccessable">
              <mat-radio-button [value]="true">{{ 'employee.create.yes' | translate }}</mat-radio-button>
              <mat-radio-button [value]="false">{{ 'employee.create.no' | translate }}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> -->